body {
	font-size: 12px;
}

.rad_men {
	position: relative;
	margin: 40px auto;
	padding: 1px;
	width: 600px;
	height: 600px;
	background: rgba(200, 170, 255,0.5);
}
.rad_men .center {
	position: absolute;
	margin: 290px;
	width: 10px; height: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: tomato;
}
.rad_men ul {
	box-sizing: border-box;
	padding: 0; margin: 0;
	position: relative;
	margin: 50px auto;
	border: 2px solid #444;
	width: 500px; height: 500px;
	transition: all 2s linear;
	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	overflow: hidden;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

}
.rad_men ul li {
	display: inline-block;
	top: 242px; left: 242px;
	background: rgba(50, 50, 50, 0.8);
	width: 250px; height: 250px;
	position: absolute;
	overflow: hidden;
}
.rad_men ul li a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	color: white;
	width: 100%; height: 100%;
	text-decoration: none;
	background-color: rgba(200,200,0,0.5);
	transform: rotate(0deg) skewX(90deg);
	-webkit-transform: rotate(180deg) skewX(-20deg);
	-moz-transform: rotate(160deg) skewX(90deg);
	font-size: 3em;
	text-align: center;
	padding-top: 150px;
	overflow: hidden;
\
}

ul:hover {
	transform: rotate(60deg);	
}
li:hover a {
	background-color: rgba(100, 200, 300, 0.9);
}

.rad_men ul li:nth-child(even) a {	
	background-color: rgba(150,200,0,0.5);
}
.men_main {
	transform-origin: 0 0;
	transform: rotate(60deg) skewX(0deg);
}
.men_works {
	transform-origin: 0 0;
	transform: rotate(120deg)  skewX(0deg);
}
.men_about {
	transform-origin: 0 0;
	transform: rotate(180deg)  skewX(0deg);
}
.men_contacts {
	transform-origin: 0 0;
	transform: rotate(240deg)  skewX(0deg);
}
.men_library {
	transform-origin: 0 0;
	transform: rotate(300deg)  skewX(0deg);
}
.men_licence {
	transform-origin: 0 0;
	transform: rotate(0deg)  skewX(0deg);
}
/*
					  "men_main"><a href="">1</a></li>
			<li class="men_works"><a href="">2</a></li>
			<li class="men_about"><a href="">3</a></li>
			<li class="men_contacts"><a href="">4</a></li>
			<li class="men_library"><a href="">5</a></li>
			<li class="men_licence